In [24]:
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine

## 读取数据到df中
pd.read_csv、pd.read_excel、pd.read_sql

In [2]:
file_path = "../data/ml-latest-small/ratings.csv"
data = pd.read_csv(file_path)
data.head()  # 查看前几行

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
print(data.shape)  # 查看数据集形状
print(data.columns)  # 查看列名
print(data.index)  # 查看索引
print(data.dtypes)  # 查看数据类型
print(data.info())  # 查看数据集信息
print(data.describe())  # 查看数据集描述性统计

(100836, 4)
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
RangeIndex(start=0, stop=100836, step=1)
userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
None
              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [4]:
file_path = "../data/crazyant/access_pvuv.txt"
data = pd.read_csv(file_path, sep='\t', header=None, names=['date', 'pv', 'uv'])
data

         date   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

In [5]:
file_path = "../data/crazyant/access_pvuv.xlsx"
data = pd.read_excel(file_path, sheet_name='Sheet1')
data

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

In [20]:
db_config = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': '123456',
    'db': 'da',
    'charset': 'utf8'
}
conn = pymysql.connect(**db_config)

In [22]:
# 预先
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1/da?charset=utf8')
data.to_sql(name='crazyant_pvuv', con=engine, if_exists='replace', index=False, dtype=None)  # replace append

10

In [23]:
data = pd.read_sql("select * from crazyant_pvuv", con=conn)
data

C:\Users\16654\AppData\Local\Temp\ipykernel_22776\2241471164.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql("select * from crazyant_pvuv", con=conn)

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## pandas核心数据结构
Series、
DataFrame